{% extends 'base.html' %}

{% block content %}
<h3 class="text-center"> Here are some ideas for your free time</h3>
<div class="row container">


<div class="card" style="width: 18rem;">
    <img src="https://static.toiimg.com/photo/75116557.cms" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Yoga is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India. Yoga is one of the six Āstika (orthodox) schools of Hindu philosophical traditios</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/Articles/Can+Running+and+Other+Exercise/running+alone-front.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Running is a method of terrestrial locomotion allowing humans and other animals to move rapidly on foot.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://www.heart.org/-/media/images/news/2019/april-2019/0429sustainablefoodsystem_sc.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Healthy Food Guide makes it easy and enjoyable to eat well and feel great. Thousands of healthy recipes, expert nutrition advice you can trust.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="https://imgs.classicfm.com/images/106128?width=6000&crop=16_9&signature=VfJeSnw8tEetODPBnZzZVhE3lIU=" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Reading is the complex cognitive process of decoding symbols to derive meaning. It is a form of language processing.</p>
    </div>
  </div>
</div>

{% endblock %}